# Ensure shell scripts always use LF on any OS
gradlew        text eol=lf
gradlew.bat    text eol=crlf

# General
*.sql          text eol=lf
*.java         text eol=lf
*.yml          text eol=lf
*.yaml         text eol=lf
*.properties   text eol=lf
*.sh           text eol=lf
*.py           text eol=lf
